<!-- Hamburger Menu -->
<div class="hamburger" id="hamburger">
    <span></span>
    <span></span>
    <span></span>
</div>

<!-- Sidebar -->
<div class="sidebar" id="sidebar">
    <div class="logo">Speak Easy</div>
    <div class="menu">
        <div class="menu-item" id="home">Home</div>
        <div class="menu-item" id="lessons">Lessons</div>
        <div class="menu-item" id="games">Games</div>
        <div class="menu-item" id="quiz">Attempt Quiz</div>
        <div class="menu-item" id="reports">Reports</div>
        <div class="menu-item" id="therapist-appointment">Therapists</div>
        <div class="menu-item" id="exercise-list">My Exercises</div>
    </div>
    <div id="logout">Logout</div>
</div>
